html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    max-width: 1000px;
    margin: auto;
}

.button {
    margin: 10px;
}

.sectionMargin {
    margin: 10px;
    padding: 5px;
}

.aboutMe {
    color: rgb(20, 55, 85);
    margin: 10px;
    padding: 5px;
    background-color: rgba(204, 218, 231, 0.253);
}

.footer {
    margin: 10px;
    background-color: #fceaea75;
    outline: solid #284E87;
    outline-offset: 5px;
}