.table {
    max-width: 300px;
    margin: 10px;
    border-collapse: collapse;
    overflow-x: auto;
}

.table__cell {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.table__cell--header {
    margin: 10px;
    background-color: #e9dcd5ab;
}

.table__row:nth-child(even) {
    background: #fceaea75;
}

.table__row:hover {
    background: #e9b0b098;
}